<header
  class="fixed top-0 left-0 right-0 z-50 bg-white/80 backdrop-blur-md shadow-sm"
>
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex justify-between items-center py-4">
      <a routerLink="/" class="flex items-center">
        <span class="text-xl font-bold text-blue-900">FSS</span>
        <span class="ml-2 text-sm text-gray-500">|</span>
        <span class="ml-2 text-sm font-medium text-gray-600"
          >Student Projects</span
        >
      </a>
      <nav class="hidden md:flex space-x-8">
        <a
          routerLink="/"
          routerLinkActive="text-blue-700"
          [routerLinkActiveOptions]="{ exact: true }"
          class="text-gray-900 hover:text-blue-700 font-medium"
        >
          Home
        </a>
        <a
          routerLink="/projects"
          routerLinkActive="text-blue-700"
          class="text-gray-600 hover:text-blue-700"
        >
          Projects
        </a>

        <a
          routerLink="/about"
          routerLinkActive="text-blue-700"
          class="text-gray-600 hover:text-blue-700"
        >
          About
        </a>
        <a
          routerLink="/contact"
          routerLinkActive="text-blue-700"
          class="text-gray-600 hover:text-blue-700"
        >
          Contact
        </a>
      </nav>
      <div>
        <button class="md:hidden">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-6 w-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 12h16M4 18h16"
            />
          </svg>
        </button>
        <a
          routerLink="/login"
          class="hidden md:inline-flex items-center px-4 py-2 border border-blue-800 text-blue-800 rounded-md text-sm font-medium hover:bg-blue-50"
        >
          Login
        </a>
      </div>
    </div>
  </div>
</header>
